--
-- PostgreSQL database dump
--

\restrict 59bEdc4hsR0A6Z7QYpcUn1zamleyO3utcMRcqqZ6Hgr4yedWhZpeLBgRtXsrVVF

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: USER; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."USER" (
    user_id integer NOT NULL,
    email character varying(100) NOT NULL,
    given_name character varying(40) NOT NULL,
    surname character varying(40) NOT NULL,
    city character varying(30),
    phone_number character varying(30),
    profile_description text,
    password character varying(500) NOT NULL
);


ALTER TABLE public."USER" OWNER TO postgres;

--
-- Name: USER_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."USER_user_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."USER_user_id_seq" OWNER TO postgres;

--
-- Name: USER_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."USER_user_id_seq" OWNED BY public."USER".user_id;


--
-- Name: address; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.address (
    member_user_id integer NOT NULL,
    house_number character varying(30),
    street character varying(50) NOT NULL,
    town character varying(30)
);


ALTER TABLE public.address OWNER TO postgres;

--
-- Name: appointment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.appointment (
    appointment_id integer NOT NULL,
    caregiver_user_id integer NOT NULL,
    member_user_id integer NOT NULL,
    appointment_date date NOT NULL,
    appointment_time time without time zone NOT NULL,
    work_hours numeric(5,2) NOT NULL,
    status character varying(30) NOT NULL
);


ALTER TABLE public.appointment OWNER TO postgres;

--
-- Name: appointment_appointment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.appointment_appointment_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.appointment_appointment_id_seq OWNER TO postgres;

--
-- Name: appointment_appointment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.appointment_appointment_id_seq OWNED BY public.appointment.appointment_id;


--
-- Name: caregiver; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.caregiver (
    caregiver_user_id integer NOT NULL,
    photo character varying(300),
    gender character varying(10),
    caregiving_type character varying(30) NOT NULL,
    hourly_rate numeric(10,2) NOT NULL
);


ALTER TABLE public.caregiver OWNER TO postgres;

--
-- Name: job; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.job (
    job_id integer NOT NULL,
    member_user_id integer NOT NULL,
    required_caregiving_type character varying(30) NOT NULL,
    other_requirements text,
    date_posted date NOT NULL
);


ALTER TABLE public.job OWNER TO postgres;

--
-- Name: job_application; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.job_application (
    caregiver_user_id integer NOT NULL,
    job_id integer NOT NULL,
    date_applied date NOT NULL
);


ALTER TABLE public.job_application OWNER TO postgres;

--
-- Name: member; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.member (
    member_user_id integer NOT NULL,
    house_rules text,
    dependent_description text
);


ALTER TABLE public.member OWNER TO postgres;

--
-- Name: job_applications_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.job_applications_view AS
 SELECT ja.job_id,
    j.required_caregiving_type,
    j.other_requirements,
    j.date_posted,
    umember.given_name AS member_name,
    umember.surname AS member_surname,
    ja.caregiver_user_id,
    ucare.given_name AS applicant_name,
    ucare.surname AS applicant_surname,
    c.caregiving_type AS applicant_caregiving_type,
    c.hourly_rate,
    ja.date_applied
   FROM (((((public.job_application ja
     JOIN public.job j ON ((ja.job_id = j.job_id)))
     JOIN public.member m ON ((j.member_user_id = m.member_user_id)))
     JOIN public."USER" umember ON ((m.member_user_id = umember.user_id)))
     JOIN public.caregiver c ON ((ja.caregiver_user_id = c.caregiver_user_id)))
     JOIN public."USER" ucare ON ((c.caregiver_user_id = ucare.user_id)))
  ORDER BY ja.date_applied DESC;


ALTER VIEW public.job_applications_view OWNER TO postgres;

--
-- Name: job_job_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.job_job_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.job_job_id_seq OWNER TO postgres;

--
-- Name: job_job_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.job_job_id_seq OWNED BY public.job.job_id;


--
-- Name: USER user_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."USER" ALTER COLUMN user_id SET DEFAULT nextval('public."USER_user_id_seq"'::regclass);


--
-- Name: appointment appointment_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.appointment ALTER COLUMN appointment_id SET DEFAULT nextval('public.appointment_appointment_id_seq'::regclass);


--
-- Name: job job_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job ALTER COLUMN job_id SET DEFAULT nextval('public.job_job_id_seq'::regclass);


--
-- Data for Name: USER; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: address; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.address (member_user_id, house_number, street, town) FROM stdin;
11	10	Dostyk Plaza Burgers	Almaty
13	12	Respublika Mega	Astana
15	67	Mangilik El	Atyrau
17	33	Turan	Uralsk
18	1	Kazan Street	Shymkent
19	2	Abay Elon Street	Almaty
20	3	Kosmopol Street	Astana
\.


--
-- Data for Name: appointment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.appointment (appointment_id, caregiver_user_id, member_user_id, appointment_date, appointment_time, work_hours, status) FROM stdin;
1	1	11	2025-11-22	09:00:00	3.00	accepted
4	4	13	2025-11-24	08:00:00	5.00	accepted
5	5	15	2025-11-24	13:00:00	3.50	accepted
7	7	17	2025-11-25	15:00:00	2.50	pending
8	8	18	2025-11-23	10:00:00	3.00	accepted
9	9	19	2025-11-23	11:00:00	4.50	accepted
10	10	15	2025-11-24	14:00:00	3.00	declined
11	1	20	2025-11-25	09:30:00	2.00	accepted
12	2	18	2025-11-26	10:00:00	4.00	pending
13	4	11	2025-11-27	08:30:00	3.00	accepted
\.


--
-- Data for Name: caregiver; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.caregiver (caregiver_user_id, photo, gender, caregiving_type, hourly_rate) FROM stdin;
1	amir_photo.jpg	Male	babysitter	9.70
3	aisu_photo.jpg	Female	playmate	8.20
6	arman_photo.jpg	Male	playmate	9.20
2	azamat_photo.jpg	Male	elderly care	17.57
5	amir_u_photo.jpg	Male	elderly care	21.97
7	donald_photo.jpg	Male	babysitter	16.10
8	buzz_photo.jpg	Male	elderly care	19.77
10	elon_photo.jpg	Male	elderly care	20.49
4	aina_photo.jpg	Female	babysitter	13.44
9	chris_photo.jpg	Male	playmate	11.22
\.


--
-- Data for Name: job; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: job_application; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.job_application (caregiver_user_id, job_id, date_applied) FROM stdin;
1	1	2025-10-02
4	1	2025-10-03
7	1	2025-10-03
1	8	2025-12-09
4	8	2025-12-10
7	8	2025-12-10
2	9	2025-01-10
5	9	2025-01-11
3	10	2025-04-11
9	10	2025-04-12
6	11	2025-05-12
3	12	2025-06-13
1	12	2025-06-14
\.


--
-- Data for Name: member; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.member (member_user_id, house_rules, dependent_description) FROM stdin;
11	No smoking.	24 year old son who loves video games
13	No pets. No smoking.	Two daughters, 5 and 7 years old, very active
15	No noises pls.	75 year old mother, needs medication reminders
17	No smoking.	3 year old twin boys, very energetic
18	Quiet.	82 year old grandfather with mobility issues
19	No pets.	12 year old son who loves manga and sports
20	No smoking. No pets.	4 year old daughter, enjoys music and dancing
\.


--
-- Name: USER_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."USER_user_id_seq"', 20, true);


--
-- Name: appointment_appointment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.appointment_appointment_id_seq', 13, true);


--
-- Name: job_job_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.job_job_id_seq', 14, true);


--
-- Name: USER USER_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."USER"
    ADD CONSTRAINT "USER_email_key" UNIQUE (email);


--
-- Name: USER USER_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."USER"
    ADD CONSTRAINT "USER_pkey" PRIMARY KEY (user_id);


--
-- Name: address address_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.address
    ADD CONSTRAINT address_pkey PRIMARY KEY (member_user_id);


--
-- Name: appointment appointment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.appointment
    ADD CONSTRAINT appointment_pkey PRIMARY KEY (appointment_id);


--
-- Name: caregiver caregiver_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.caregiver
    ADD CONSTRAINT caregiver_pkey PRIMARY KEY (caregiver_user_id);


--
-- Name: job_application job_application_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_application
    ADD CONSTRAINT job_application_pkey PRIMARY KEY (caregiver_user_id, job_id);


--
-- Name: job job_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job
    ADD CONSTRAINT job_pkey PRIMARY KEY (job_id);


--
-- Name: member member_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.member
    ADD CONSTRAINT member_pkey PRIMARY KEY (member_user_id);


--
-- Name: address address_member_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.address
    ADD CONSTRAINT address_member_user_id_fkey FOREIGN KEY (member_user_id) REFERENCES public.member(member_user_id) ON DELETE CASCADE;


--
-- Name: appointment appointment_caregiver_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.appointment
    ADD CONSTRAINT appointment_caregiver_user_id_fkey FOREIGN KEY (caregiver_user_id) REFERENCES public.caregiver(caregiver_user_id) ON DELETE CASCADE;


--
-- Name: appointment appointment_member_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.appointment
    ADD CONSTRAINT appointment_member_user_id_fkey FOREIGN KEY (member_user_id) REFERENCES public.member(member_user_id) ON DELETE CASCADE;


--
-- Name: caregiver caregiver_caregiver_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.caregiver
    ADD CONSTRAINT caregiver_caregiver_user_id_fkey FOREIGN KEY (caregiver_user_id) REFERENCES public."USER"(user_id) ON DELETE CASCADE;


--
-- Name: job_application job_application_caregiver_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_application
    ADD CONSTRAINT job_application_caregiver_user_id_fkey FOREIGN KEY (caregiver_user_id) REFERENCES public.caregiver(caregiver_user_id) ON DELETE CASCADE;


--
-- Name: job_application job_application_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_application
    ADD CONSTRAINT job_application_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.job(job_id) ON DELETE CASCADE;


--
-- Name: job job_member_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job
    ADD CONSTRAINT job_member_user_id_fkey FOREIGN KEY (member_user_id) REFERENCES public.member(member_user_id) ON DELETE CASCADE;


--
-- Name: member member_member_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.member
    ADD CONSTRAINT member_member_user_id_fkey FOREIGN KEY (member_user_id) REFERENCES public."USER"(user_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 59bEdc4hsR0A6Z7QYpcUn1zamleyO3utcMRcqqZ6Hgr4yedWhZpeLBgRtXsrVVF

